.buttons {
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 30px;
	font-size: 1.15rem;
	text-align: center;
	font-weight: 700;
	&:last-child {
		font-weight: bolder;
	}
	&:nth-last-child(2) {
		font-style: italic;
	}
}